agora_token_builder==1.0.0
annotated-types==0.7.0
anyio==4.9.0
Appium-Python-Client==5.1.0
asgiref==3.8.1
attrs==25.3.0
certifi==2024.8.30
channels==4.2.0
charset-normalizer==3.4.0
cohere==5.15.0
distro==1.9.0
Django==5.0.7
django-cors-headers==4.4.0
faiss-cpu==1.11.0
fastavro==1.10.0
filelock==3.18.0
fsspec==2025.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.2
idna==3.10
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.5
openai==1.78.1
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.9
pydantic==2.11.4
pydantic_core==2.33.2
pyotp==2.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==22.1
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
selenium==4.32.0
sentence-transformers==4.1.0
setuptools==80.7.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.1
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
trio==0.30.0
trio-websocket==0.12.2
types-requests==2.32.0.20250515
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
